# Copyright (c) 2024 Jamie M.
# SPDX-License-Identifier: Apache-2.0

if BOARD_RS1XX

config BT_CTLR
	default BT

config SPI_NOR_CS_WAIT_DELAY
	default 40

config SPI_NOR_FLASH_LAYOUT_PAGE_SIZE
	default 4096

endif # BOARD_RS1XX
